*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
}

.face{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(221, 175, 22);
    margin: auto; 
    margin-top: 150px;
    border-radius: 100%;
    position: relative;
    padding: 7px;
    background-color: rgb(255, 207, 50);
    
 }
 .eyes-shape{
    justify-content: space-between;
    display: flex;
    margin-top: 15px;
 }

 .eyes{
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: black;

 }

.right{
margin: 30px;
}
.left{
 margin: 30px;
}

.mouth{
    position: absolute;
    width: 100px;
    height: 40px;
    border: 5px solid black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
    /* margin-left: 38px;  */
   border-radius: 0 0 50% 50%; 
   background-color:white ;
   align-items: center;
}

.face:hover{
    transition: 1s all;
    transform: rotateY(180deg);
    background-color: red;
    
}

