* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(82, 82, 119, 0.41);
}
.filmCard {
    height: 650px;
    width: 305px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid black;
    position: relative;
    border-radius: 10px;
    background-color: rgb(101, 99, 100);

}

h1 {
    text-align: center;
    color: rgb(191, 15, 15);
    text-shadow: -2px -2px rgb(168, 168, 168);
    text-decoration: underline;

}

.filmCard ul {
    margin-top: 10px;
}

.filmCard ul>li {
    list-style-type: none;
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(200, 196, 192);
}

.filmCard img {
    width: 100%;
    align-items: center;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.filmCard p {
    text-align: center;
    background-color: red;
    color: wheat;
}

iframe {
    margin-top: 10px;
    width: 100%;
}
.btnContainer{
    width: 100%;
    
}
.btn {
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    /* background-color: crimson;
    color: #fff; */
    letter-spacing: 10px;
    font-weight: bold;
    font-size: large;
    text-align: center;
    animation-name: btnAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}


@keyframes btnAnimation {
    0% {
        color: crimson;
        background-color: #fff;
    }

    50% {
        color: #fff;
        background-color: crimson;
    }

    100%{
        color: crimson;
        background-color: #fff;
    }
}