.satir{
    height: 5rem;
    
    text-align: center;
}

.item-2 {
    height: 100px;
}

.item-3 {
    height: 200px;
}

.item-4{
    height: 300px;
}

.container {
    --bs-gutter-x: 0px !important;
}
